.contact-icon {
    max-width: 50px; /* Adjust size as needed */
    height: auto;
    transition: transform 0.2s ease-in-out, box-shadow 0.3s ease; /* Transition for transform and box-shadow */
}

.contact-icon:hover {
    transform: scale(1.1); /* Scale up on hover */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Box shadow on hover */
}
.idsc{
    position: relative;
    left: 70px;
    display: flex;
    justify-content: center;
}    